<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801692932561-n61ampu0p2jpfkdcstbfeo6o73iakvi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801692932561-n61ampu0p2jpfkdcstbfeo6o73iakvi2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801692932561-aiehr1d0pndi77m64jkcc08emsrt8t9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrZArtQDgNt0Syn8hLtlY24rWcLru2lGE</string>
	<key>GCM_SENDER_ID</key>
	<string>801692932561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawfectmatch.app</string>
	<key>PROJECT_ID</key>
	<string>pawfect-match-34c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>pawfect-match-34c4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801692932561:ios:031aaeb6caeb7277a528f0</string>
</dict>
</plist>